header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $secondary;
    border-bottom: 1px solid $primary;
    padding: 20px 20px 0;
    .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            img {
                width: 100px;
            }
            span {
                color: $primary;
                font-size: 25px;
            }
        }

    }
    nav .navbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        li {
            list-style: none;
            margin-right: 30px;
            padding-bottom: 10px;
            a {
                text-decoration: none;
                color: $primary;
            }
        }
        .active {           
            border-bottom: 2px solid $tertiary;
            a {
                color: $tertiary;
            }
        }
    }
}
